.screen {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > :first-child {
    min-height: calc(100vh - var(--header-height-total));
    width: 100%;
  }

  &__quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .quiz-content {
      &__list {
        max-width: 800px;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        width: 100%;
        height: 100%;
        max-height: 420px;

        overflow-x: scroll;

        @include after-mobile {
          flex-direction: row;
          max-height: 100%;
          justify-content: center;
        }
      }

      &__button {
        margin-top: auto;
        cursor: pointer;

        &_submit {
          width: 181px;
          height: 48px;
          border-radius: 24px;
          margin-bottom: 54px;
          font-size: 1.125rem;

          color: var(--color-background-content);
          background: var(--color-highlight-gradient);
          font-weight: 700;
          cursor: pointer;

          &.isDisabled {
            background: var(--color-locked);
            pointer-events: all;
          }
        }

        &_skip {
          padding: 24px 0;
          font-size: 1rem;
          font-weight: 700;
          text-decoration-line: underline;
          color: var(--color-skip-text);
        }
      }

      &__title {
        margin-top: 30px;
        margin-bottom: 5px;
        font-weight: 300;
        text-align: center;
        color: var(--color-text);
        font-size: 1.25rem;
        padding: 0 15px;
        line-height: 30px;

        text-align: center;
      }

      &__info {
        color: var(--color-sub-text);
        font-weight: 400;
        font-size: 1rem;
        padding: 0 15px;
        line-height: 30px;
        margin: 5px 0;

        text-align: center;
      }

      &__img {
        width: 100%;
        max-width: 500px;
        padding: 14px 28px;
      }
    }
  }

  &__sides {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.isFirst {
      background: var(--color-background-highlight);
      .sides-content {
        &__img {
          padding: 14px 28px;
        }
      }
    }

    .sides-content {
      &__img {
        width: 100%;
        max-width: 500px;
        padding: 14px 100px;

        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }

      &__text {
        text-align: center;
        color: var(--color-highlight);
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 30px;
        margin: 14px 0;

        &_sub {
          text-align: center;
          color: var(--color-skip-text);
          font-size: 0.95rem;
          line-height: 174%;
          padding: 0 20px;
        }
      }

      &__button {
        height: 48px;
        width: 177px;
        border-radius: 24px;
        color: var(--color-background);
        margin: 40px 0;
        background: var(--color-highlight-gradient);
        cursor: pointer;
        font-size: 1.125rem;
        font-weight: 700;
      }

      &__footer {
        font-size: 0.85rem;
        font-weight: 400;
        text-align: center;
        color: var(--color-sub-text);

        margin-top: auto;
        margin-bottom: 24px;
      }
    }
  }

  &__like {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 500px;
    padding-top: 100px;

    .like-content {
      &__img {
        width: 100%;
        padding: 0px 80px;
      }

      &__text {
        text-align: center;
        color: var(--color-highlight);
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 30px;
      }
    }
  }
}
